.hero {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

header {
  width: 100%;
  padding: 0.5em 0;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

header .logo img {
  width: 80px;
}

header nav {
  padding: 1.5em 0;
  display: flex;
  align-items: center;
}

header nav ul {
  margin: 0;
  display: flex;
  gap: 4em;
}

header nav ul li a {
  position: relative;
  font-family: "Jersey 10", sans-serif;
  font-size: 1.5rem;
  color: #ff0000;
  z-index: 1000;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  &:hover {
    cursor: none;
    color: #fff;
  }
}
header nav ul li a.hovered {
  color: #fdfff8;
}

.header__contactButton {
  border-radius: 3em;
  background-color: #ff4f5a;
  padding: 0.5em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Jersey 10", sans-serif;
  font-size: 1.5rem;

  position: relative;
  overflow: hidden;

  box-shadow: 0 10px 0 #cf2934;

  span {
    color: #fdfff8;
    pointer-events: none;
  }

  &:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: 19;
  }
}

.header__contactButton:hover {
  transform: translateY(4px);
  box-shadow: 0 6px 0 #cf2934;
  &:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}
.header__contactButton:active {
  transform: translateY(10px);
  box-shadow: inset 0 7px #cf2934;
}

.hero .container-hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero .hero__content {
  font-family: "Jersey 10", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  justify-content: flex-start;
  gap: 1.5em;
}

.hero__content h2 {
  font-size: 5.5rem;
  font-weight: 400;
  color: #ff4f5a;
}

.hero__content h2 span {
  color: #ffc801;
}

.hero__content p {
  font-size: 32px;
  color: #ff4f5a;
  width: 70%;
  line-height: 1.5;
}

.hero__content__button {
  border-radius: 3em;
  background-color: #ff4f5a;
  padding: 0.5em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Jersey 10", sans-serif;
  font-size: 1.5rem;

  position: relative;
  overflow: hidden;

  box-shadow: 0 10px 0 #cf2934;

  span {
    color: #fdfff8;
    z-index: 20;
    pointer-events: none;
  }

  &:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: 19;
  }
}
.hero__content__button:hover {
  transform: translateY(4px);
  box-shadow: 0 6px 0 #cf2934;
  &:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}
.hero__content__button:active {
  transform: translateY(10px);
  box-shadow: inset 0 7px #cf2934;
}

.hero__image__container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.hero__image {
  height: 100%;
  max-height: 500px;
}
