.cursor_circle {
  width: 15px;
  height: 15px;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  translate: 5000% 5000%;
  border: solid 4px #ffc801;
  z-index: 100;
  user-select: none;
  pointer-events: none;

  background: #ffc801;
  /* backdrop-filter: hue-rotate(72deg) saturate(200%) brightness(300%) contrast(1); */
}

.section-name {
  font-family: "Jersey 10", sans-serif;
  font-weight: normal;
  color: #ffc801;
  letter-spacing: 2px;
  font-size: 4.5rem;
  position: absolute;
  bottom: -30px;
  left: 0;
  transform-origin: 0 0;
  transform: rotate(-90deg);
  z-index: 3;
}

/* SECTION: ABOUT US */
